*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-size: 62.5%; /* сброс размера штрифта с 16px до 10px, для удобства работы с единицей rem */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(8,8,8,1) 34%, rgba(11,11,11,1) 67%, rgba(18,18,18,1) 100%);
    color: #FFFFFF;
}
.main {
    background: url(../img/main-bg.png) no-repeat center / cover;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}
button, input {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.container {
    width: 130rem;
    margin: 0 auto;
}
.hidden {
    display: none !important;
}
.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: #FFFFFF
}
.title-block {
    display: flex;
    align-items: center;
}
.title-block > div {
    width: 9.2rem;
    height: 9.2rem;
    position: relative;
}
.title-block > h2 {
    font-size: 4.8rem;
    line-height: 140%;
    margin-left: 4rem;
}
/* header */
.header {
    position: relative;
    background: transparent;
    padding: 4rem 11rem 4rem 8rem;
    z-index: 5;
}
.header__wrap,
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    width: 122rem;
}
.header__nav > a {
    font-size: 1.6rem;
}
.header__nav > a:not(:last-child) {
    margin-right: 7.1rem;
}
.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}
.header__button{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
/* ./header */

/* promo */
.promo {
    padding: 27rem 0 22.8rem 0;
    background: url(../img/promo-bg.png) no-repeat center / cover;
    position: relative;
    display: flex;
    align-items: center;
    top: -12rem;
}
.promo__title {
    width: 75rem;
    font-size: 6.4rem;
}
.timer {
    display: flex;
    justify-content: space-between;
    width: 49.8rem;
    margin: 5rem 0 7.6rem 0;
}
.timer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121212;
    padding: 2rem 3rem;
    width: 10.2rem;
    height: 11.2rem;
}
.timer__value {
    font-size: 3.6rem;
    line-height: 140%;
    font-weight: 700;
}
.timer__text {
    font-size: 1.6rem;
    opacity: 0.4;
}
.promo__button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
/* /.promo */

/* /.about-us */
.about-us {
    padding: 8rem 0 10rem 0;
}
.about-us__wrap {
    display: flex;
    justify-content: space-between;
    height: 54.2rem;
}
.about-us__img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 52.6rem;
}
.about-us__img > img {
    width: 44.6rem;
    height: 44.6rem;
    z-index: 5;
}
.about-us__img::after {
    content: '';
    position: absolute;
    width: 52.6rem;
    height: 49.9rem;
    top: 0;
    right: 0;
    background: url(../img/icon-border.svg) no-repeat center / 52.6rem
}
.about-us__desc {
    width: 63.6rem;
    padding-top: 6.9rem;
}
.about-us__desc > h2 {
    font-size: 4.8rem;
    line-height: 140%;
}
.about-us__desc > p {
    font-size: 1.6rem;
    line-height: 160%;
    padding-top: 4.5rem;
}
/* /.about-us */

/* process */
.process {
    padding: 10rem 0;
}
.process__title > div {
    width: 9.2rem;
    height: 9.2rem;
    position: relative;
}
.process__title > div::after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    width: 9.2rem;
    height: 4.5rem;
    background: url(../img/icon-team.svg) no-repeat center / 9rem;
    transform: rotate(45deg);
}
.process__text {
    font-size: 1.6rem;
    opacity: 0.5;
    line-height: 160%;
    width: 41.1rem;
    margin: 4.9rem 0 8rem 0;
}
.process__desc {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.process__desc > div {
    width: 30.6rem;
}
.process__desc::before {
    content: '';
    position: absolute;
    top: 6.5rem;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: linear-gradient(90deg, rgba(200,154,252,1) 0%, rgba(124,106,250,1) 12.5%, rgba(124,106,250,1) 25%, rgba(200,154,252,1) 37.5%, rgba(200,154,252,1) 50%, rgba(124,106,250,1) 62.5%, rgba(124,106,250,1) 75%, rgba(200,154,252,1) 87.5%);
}
.process__desc > div > h3 {
    font-size: 3.6rem;
    line-height: 140%;
    padding-bottom: 6.5rem;
}
.process__desc > div > p {
    font-size: 1.4rem;
    opacity: 0.5;
    line-height: 160%;
}
/* /.process */
/* team */
.team {
    padding: 10rem 0rem;
}
.team__title > div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4.5rem;
    width: 9.2rem;
    background: url(../img/icon-team.svg) no-repeat center / 9rem;
}
.team__block {
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
}
.team__block > div {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team__block > div > img{
    width: 19rem;
    height: 19rem;
    margin-bottom: 4rem;
}
.team__block > div > h3{
    font-size: 2.4rem;
    line-height: 140%;
    font-weight: 500;
}
.team__block > div > p{
    font-size: 1.6rem;
    line-height: 160%;
    opacity: 0.8;
    margin: 1.5rem 0 3rem 0;
}
.team__button {
    border: 1px solid #FFFFFF;
    background: transparent;
}
/* /.team */

/* order */
.order {
    padding: 10rem 0 24.4rem 0;
}
.order__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order__wrap > h2 {
    font-size: 4.8rem;
    line-height: 140%;
}
.order__wrap > p {
    font-size: 1.6rem;
    line-height: 160%;
    opacity: 0.5;
    margin: 3rem 0 4.5rem 0;
}
.order__social {
    display: flex;
    justify-content: space-between;
    width: 29rem;
    margin-top: 4rem;
}
.order__social > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.order__social > div > img {
    width: 2.4rem;
    height: 2.4rem;
}
.order__button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
/* /.order */

/* /.modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}
.modal__wrap {
    padding: 9rem 9.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
}
.modal__wrap > h2 {
    font-size: 4.8rem;
    line-height: 140%;
}
.modal__wrap > p {
    font-size: 1.6rem;
    line-height: 160%;
    opacity: 0.5;
    margin: 1rem 0 4.8rem 0;
}
.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45.6rem;
}
.modal__form > input {
    width: 100%;
    border-radius: 2.5rem;
    padding: 1.1rem 3rem;
    margin-bottom: 1.6rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
}
.modal__form > input::placeholder {
    font-size: 1.4rem;
    line-height: 160%;
    color: #ffffff;
    opacity: 0.8;
}
.modal__button {
    margin-top: 1.6rem;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
/* /.modal */
